* {
  box-sizing: border-box; }

body {
  font-family: "Noto Sans", Sans-Serif;
  font-size: 87.5%;
  -webkit-font-smoothing: antialiased; }

a {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

img {
  max-width: 100%; }

h1, h2, h3, h4, h5, h6, p, li {
  color: rgba(0, 0, 0, 0.8); }

p {
  line-height: 1.5rem; }

.hidden {
  display: none; }

[data-url] {
  cursor: pointer; }


#page_wrapper {
  background: #eee;
  height: 100vh;
  display: flex;
  align-items: center;
}


#form_wrapper {
  width: 450px;
  background: white;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  padding: 40px;
  margin: 0 auto;
  height: 450px;
}

#form_panel img{
  width:100%;
}

.field label {
  text-transform: uppercase;
  font-weight: bold;
  color: rgba(0,0,0,0.5);
  font-size: 0.8rem;
  display: block;
}

.field input {
  border-radius: 5px;
  padding: 8px;
  font-size: 15px;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 5px;
}

.actions input[type=submit]{
  border-radius: 3px;
  padding: 10px;
  width: 60px;
  background-color: #f2b800;
  color:white;
  border:0px;
  margin-top: 15px;
  float: right;
  display: block;
}

#language a{
  padding: 10px;
}

#title_bar{
  height: 50px;
  background: #333;
}

#logo_container{
  width: 230px;
  height: 50px;
  display: inline-block;
}

#user{
  height: 50px;
  background: #333;
  display: inline-block;;
  text-align: right;
  vertical-align: top;
  float: right;
  padding-right: 15px;
}

#user a{
  color: white;

}

#user p{
  text-align: right;
  vertical-align: top;
  color: white;
}


#side_bar{
  width: 230px;
  background: #333;
  text-align: right;
  color: white;
  padding: 15px;

}

#side_bar a {
  color: white;
  line-height: 30px;
  padding: 15px
}

#side_bar h4 {
  color: white;
  opacity: 0.5;
  padding-right: 15px;
  line-height: 5px;
}

#side_bar hr {
  opacity: 0.5;
  width:200px;
}

#main_wrapper{
  display: flex;
  height:100%;
}

#page{
  flex-grow: 1;
}

#page_head{
  display: flex;
}

#page_body{
  display: inline-block;
}

#calls_info{
  flex-grow: 1;
  padding: 30px;
  flex-grow: 1;
}

#calls_info h2{
  display: inline-block;
  font-size: 180%;
}

#calls_info p{
  opacity: 0.6;
}


#new_calls{
  border-radius: 5px;
  background-color: #f2b800;
  padding: 10px;
  width: 70px;
  height: 40px;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 30px;
}

#new_calls a{
  color: white;
}

#calls_filter{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 15px;
  float: right;
}

#type_filter{
  background-color: #f9f9f9;
  display: flex;
  padding-left: 10px;
  border: 1px solid;
  font-weight: bold;
  border-radius: 3px;
  border-style: groove;
  float: right;
}

#type_filter p{
  font-size: 15px;
}

#hardware_type {
  background-color: #999;
  display: inline-block;
  margin-left: 30px;
  margin-top: 8px;
  margin-right: 5px;
  margin-bottom: 8px;
  text-align: center;
  padding-top: 10px;
  width: 80px;
  border-radius: 5px;
}

#hardware_type a{
  color: white;
}

#software_type{
  background-color: #999;
  display: inline-block;
  margin-left: 5px;
  margin-top: 8px;
  margin-bottom: 8px;
  text-align: center;
  padding-top: 10px;
  width: 80px;
  border-radius: 5px;
}

#software_type a{
  color:white;
}

#search{
  margin-top: 10px;
  display: inline-block;
  float: right;
}

#search input[type=text]{
  border-radius: 5px;
  padding: 8px;
  font-size: 130%;
  width: 270px;
}

#search input[type=submit]{
  border-radius: 5px;
  padding: 10px;
  width: 80px;
  background-color: #f2b800;
  color:white;
  border:0px
}

table.index_table{
  border-collapse: collapse;
  width: 100%;
  font-size: 0.8rem;
  font-family: "Noto Sans", Sans-Serif;

}

table {
    background: #f5f5f5;
    border-collapse: separate;
    box-shadow: inset 0 1px 0 #fff;
    font-size: 12px;
    line-height: 24px;
    margin: 30px auto;
    text-align: left;
    width: 800px;
}

th {
    background-color: #a8abaf;
    border-left: 1px solid #555;
    border-right: 1px solid #777;
    border-top: 1px solid #555;
    border-bottom: 1px solid #333;

    color: #black;
  font-family: "Noto Sans", Sans-Serif;
    padding: 10px 15px;
    position: relative;

}



td {
    border-right: 1px solid #fff;
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e8e8e8;
    padding: 10px 15px;
    position: relative;
    transition: all 300ms;
}

td:first-child {
    box-shadow: inset 1px 0 0 #fff;
}

td:last-child {
    border-right: 1px solid #e8e8e8;
    box-shadow: inset -1px 0 0 #fff;
}

tr {
    background: url(http://jackrugile.com/images/misc/noise-diagonal.png);
}

tr:nth-child(odd) td {
    background: #f1f1f1 url(http://jackrugile.com/images/misc/noise-diagonal.png);
}

tr:last-of-type td {
    box-shadow: inset 0 -1px 0 #fff;
}

tr:last-of-type td:first-child {
    box-shadow: inset 1px -1px 0 #fff;
}

tr:last-of-type td:last-child {
    box-shadow: inset -1px -1px 0 #fff;
}

tbody:hover td {

  /*  text-shadow: 0 0 3px #aaa;*/
}

tbody:hover tr:hover td {
    background-color:#a8abaf;
    color: white;
}

/*#calls_table{
  display: flex;
}

#calls_table table{
  table-layout: fixed;
  border-collapse: collapse;
  flex-grow: 1;
  width:100%;
}

#calls_table th{
  background-color: #f9f9f9;
  height: 50px;
  color: #808080;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  width:100%;
}

#calls_table td{
  opacity: 0.6;
  text-align: center;
}

#calls_table tr{

}

#calls_table th,td{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px;
}

tr:hover {
  background-color: #f5f5f5;
}

*/

#calls_table table{
  border-collapse: collapse;
  width: 100%;
  font-size: 0.8rem;
  font-family: "Noto Sans", Sans-Serif;

}

#calls_table table {
    background: #f5f5f5;
    border-collapse: separate;
    box-shadow: inset 0 1px 0 #fff;
    font-size: 12px;
    line-height: 24px;
    margin: 30px auto;
    text-align: left;
    width: 800px;
}

#calls_table th {
    background-color: #a8abaf;
    border-left: 1px solid #555;
    border-right: 1px solid #777;
    border-top: 1px solid #555;
    border-bottom: 1px solid #333;

    color: #black;
  font-family: "Noto Sans", Sans-Serif;
    padding: 10px 15px;
    position: relative;

}

#calls_table td {
    border-right: 1px solid #fff;
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e8e8e8;
    padding: 10px 15px;
    position: relative;
    transition: all 300ms;
}

#calls_table td:first-child {
    box-shadow: inset 1px 0 0 #fff;
}

#calls_table td:last-child {
    border-right: 1px solid #e8e8e8;
    box-shadow: inset -1px 0 0 #fff;
}

#calls_table tr {
    background: url(http://jackrugile.com/images/misc/noise-diagonal.png);
}

#calls_table tr:nth-child(odd) td {
    background: #f1f1f1 url(http://jackrugile.com/images/misc/noise-diagonal.png);
}

#calls_table tr:last-of-type td {
    box-shadow: inset 0 -1px 0 #fff;
}

#calls_table tr:last-of-type td:first-child {
    box-shadow: inset 1px -1px 0 #fff;
}

#calls_table tr:last-of-type td:last-child {
    box-shadow: inset -1px -1px 0 #fff;
}

#calls_table tbody:hover td {

  /*  text-shadow: 0 0 3px #aaa;*/
}

#calls_table tbody:hover tr:hover td {
    background-color:#a8abaf;
    color: white;
}

#new_calls_info{
  padding: 20px;
  flex-grow: 1;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#cancel_button{
  border-radius: 5px;
  background-color: #f2b800;
  padding: 10px;
  width: 85px;
  height: 40px;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 30px;
  margin-top: 15px;
}


#cancel_button a{
  color: white;
}

#caller_search_panel{
  flex-grow: 1;
  padding: 30px;
  width: 350px;
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  display: inline-block;
}

#caller_search_panel label{
  display:block;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
}

#caller_search_panel input{
  display:block;
  border-radius: 5px;
  padding: 8px;
  font-size: 130%;
  width: 270px;
}

#main_call_form{
  display: inline-block;
  flex-grow:1;
}

#personnel_table{
  display: flex;
}

#personnel_table table{
  table-layout: fixed;
  border-collapse: collapse;
  flex-grow: 1;
  width:100%;
}

#personnel_table th{
  background-color: #f9f9f9;
  height: 50px;
  color: #808080;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  width:100%;
}

#personnel_table td{
  opacity: 0.6;
  text-align: center;
}

#personnel_table tr{

}

#personnel_table th,td{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px;
}
